image: golang:1.11

stages:
  - build
  - release

build client:
  stage: build
  script:
    - mkdir build
    - cd client
    - go build -o ../build/gokku .
  artifacts:
    paths:
      - build/gokku
    expire_in: 7 day
  only:
    refs:
      - branches
    changes:
      - .gitlab-ci.yml
      - client/**/*

.cross_build_client: &cross_build_client
  stage: build
  script:
    - cd client
    - go get github.com/mitchellh/gox
    - gox -arch="${BUILD_ARCH}" -output="build/gokku-{{.OS}}-{{.Arch}}" .
  only:
    refs:
      - tags
      - /^client\/.*$/
  artifacts:
    paths:
      - client/build/*
    # expire fast given that the release job will cache them
    expire_in: 1 day

cross build client amd64:
  <<: *cross_build_client
  before_script:
    - export BUILD_ARCH=amd64

cross build client 386:
  <<: *cross_build_client
  before_script:
    - export BUILD_ARCH=386

cross build client arm:
  <<: *cross_build_client
  before_script:
    - export BUILD_ARCH=arm

release client:
  stage: release
  script:
    - ls client/build/
  artifacts:
    paths:
      - client/build/*
  only:
    refs:
      - tags
      - /^client\/.*$/


build server:
  stage: build
  script:
    - mkdir build
    - cd server
    - go build -o ../build/gokku-server .
  artifacts:
    paths:
      - build/gokku-server
    expire_in: 7 day
  only:
    refs:
      - branches
    changes:
      - .gitlab-ci.yml
      - server/**/*
